/* 1135px+ */

body{
	background: #FFFFFF; 
	padding-top: 1%;
	text-align: center;
}

hr { 
    background-color: #000000;
    height:5px;
	border-width:0;
}

#inner {
    border-width: 8px 0 2px 0;
    margin: 10px auto;
    padding: 10px 10px;
	max-width: 1000px;
	width: 90%;
}

#header {	
	line-height: 100%;
	font-family: Helvetica;
    margin: 10px 0;
    padding-bottom: 10px;
}
 
#header h1 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.tile {
	width: 300px;
	height: 300px;
	padding: 10px 5px;
	display: inline-block;
	clear: left;
	vertical-align: top;
	position: relative;
	overflow: hidden; 
	text-align: left;
}

li {
	display: block;
	position: relative;
	width: 300px;
	height: 300px;
	float: left;
	overflow: hidden;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('../images/all.png');
}

.raplaugh {
	background-position: 0px 0px;
}

.raplaugh:hover {
	background-position: -300px 0px;
}

.blog {
	background-position: 0px -300px;
}

.blog:hover {
	background-position: -300px -300px;
}

.architecture {
	background-position: 0px -600px;
}

.architecture:hover {
	background-position: -300px -600px;
}

.foliofn {
	background-position: 0px -900px;
}

.foliofn:hover {
	background-position: -300px -900px;
}


footer {
	width: 100%;
	position: relative;
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	color: #000;
}

p {
	font-size: 25px;
}

a {
	color: #494949;
	text-decoration: none;
}

#center{
	text-align: left;
	margin: auto;
	display: table;
	width: 93%;
}
